body{
    margin: 70px;
}
.box{
    border: gray solid 1px;
}
h1{
    border-bottom: gray solid 1px;
    margin-bottom: 40px;
    background-color: lightgrey;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.cuerpo{
    margin-left: 20px;
    margin-right: 20px;
}
.send{
    border: lightgray solid 1px;
    background-color: lightgray;

    margin-left: 20px;
    margin-right: 20px;
}
#botones{
    border-radius: 20px;
    padding-right: 7px;
    color: gray;
    margin-right: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.boton{
    margin-left: 230px ;
}
.error-input {
    background-color: #f8d7da !important; 
  }

.error-message {
    color: #721c24; 
    font-size: 80%;
    margin-top: 4px;
  }